* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-margin-top: 100px;
}

html {
    scroll-behavior: smooth;
}

body {

    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-style: normal;
    font-size: 100px;
    font-weight: bold;
}

#back-button {
    color: white;
    font-style: normal;
    text-align: right;
}